<p id="notice"><%= notice %></p>

<h1>Greenfoods</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @greenfoods.each do |greenfood| %>
      <tr>
        <td><%= link_to 'Show', greenfood %></td>
        <td><%= link_to 'Edit', edit_greenfood_path(greenfood) %></td>
        <td><%= link_to 'Destroy', greenfood, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Greenfood', new_greenfood_path %>
